body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: Center;
  text-align: justify;
}

.text-box {
  background-color: white;
  padding: 30px;
  opacity: 0.8;
}

.next-btn {
  background-color: #F9E4bC;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.next-btn:hover {
  background-color: skyblue;
  transform: scale(1.05;)
  box-shadow: Navy;
}